<!doctype html>
<html ng-app="app">
  <head>
    <title>Utilities</title>
  </head>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35014753-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>

  <script src="ngModules.js"></script>
  <body class="container">
    <header class="hero-unit row">
      <h1 class="span12" keyname="Utilities" itemprop="name">Utilities</h1>
    </header>
    <div class="row" ng-controller="RdnGenCtrl">
      <div class="span7 well">
        <h5>Random String Generator</h5>
        <form class="form-horizontal" ng-submit="generate()">
          <div class="control-group">
            <div class="controls">
              <label class="text">Number of chars: 
                <input type="number" ng-model="charCount" min="1" max="50" />
              </label>
              <label class="checkbox"><input type="checkbox" ng-model="hasDigits" />Digit</label>
              <label class="checkbox"><input type="checkbox" ng-model="hasSepcials" />Special</label>
              <input type="submit" value="Generate" />
            </div>
          </div>
        </form>
      </div>
      <div class="span4">
        <h5>Result:</h5>
        <div>{{generatedChars}}</div>
      </div>
    </div>
    <div class="row">
      <div class="offset2 span8">
        <iframe src="http://rcm.amazon.com/e/cm?t=david0a-20&o=1&p=48&l=ur1&category=music&banner=0V2BZ4DRFD905XWVCVR2&f=ifr" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="span7 well">
        <h5>Coming...</h5>
      </div>
      <div class="span4">
        <h5>Result:</h5>
      </div>
    </div>
    <footer class="row">
      <div class="span12">
        <hr />
        Powered by: ...
      </div>
    </footer>
  </body>
</html>

