{% extends "_shared/base.html" %}

{% block styles %}
  <link rel="stylesheet" href="/static/all.min.css">
{% endblock %}

{% block title %}
  <title>Xi Shen's Blog</title>
{% endblock %}

{% block content %}
  <div class="xs-blog mdl-layout mdl-layout--fixed-header mdl-js-layout is-upgraded">
    {% include '_shared/header.html' %}
    <main class="mdl-layout__content" ng-app="admin">
      <div class="mdl-grid" ng-view></div>
      {% include '_shared/footer.html' %}
    </main>
    <div class="mdl-layout__obfuscator"></div>
  </div>
{% endblock %}

{% block script_tail %}
  <script src="/static/lib/material/material.min.js"></script>
  <script src="/static/lib/angular/angular.min.js"></script>
  <script src="/static/lib/angular/angular-resource.min.js"></script>
  <script src="/static/lib/angular/angular-route.min.js"></script>
  <script src="/static/lib/epiceditor/js/epiceditor.js"></script>
  {% if config['DEBUG'] %}
    <script src="/blog/static/_shared/js/blogapi.js"></script>
    <script src="/blog/static/admin/js/directive.js"></script>
    <script src="/blog/static/admin/js/admin.js"></script>
  {% else %}
    <script src="/blog/static/_shared/shared.all.min.js"></script>
    <script src="/blog/static/admin/admin.all.min.js"></script>
  {% endif %}
{% endblock %}
