{% extends "_shared/base.html" %}

{% block content %}
  <div class="xs-blog mdl-layout mdl-layout--fixed-header mdl-js-layout is-upgraded">
    {% include '_shared/header.html' %}
    <main class="mdl-layout__content" ng-app="admin">
      <div class="mdl-grid" ng-view></div>
      {% include '_shared/footer.html' %}
    </main>
    <div class="mdl-layout__obfuscator"></div>
  </div>
{% endblock %}

{% block local_scripts %}
  <script src="/static/lib/epiceditor/js/epiceditor.min.js"></script>
  <script src="/blog/static/admin/admin.all.min.js"></script>
{% endblock %}
