@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

.site-header {
  background-color: rgba(63, 81, 181, 0.7);
}

.site-title {
  height: 32px;
  font-family: "Sigmar One", cursive;
  font-size: xx-large;
}

@media (max-width: 900px) {
  .site-title {
    display: none;
  }

  .site-header-spacer {
    display: none;
  }

  .amazon-ad {
    width: 320px;
    height: 50px;
    margin: auto;
  }
}

@media (min-width: 900px) {
  .amazon-ad {
    width: 728px;
    margin: auto;
  }
}
