{% if not isXhr %}
{% extends "base.html" %}
{% endif %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block meta %}
<meta name="keywords" content="{{ tags }}" />
{% endblock %}

{% block nav %}
<ul id="nav" class="breadcrumb">
{% for i in breadcrumbs %}
  {% if not loop.last %}
    <li><a href="{{i['href']}}">{{i['text']}}</a><span class="divider">/</span></li>
  {% else %}
    <li class="active">{{i['text']}}</li>
  {% endif %}
{% endfor %}
</ul>
{% endblock %}

{% block article %}
<article id="article" class="markdown" itemprop="description">
{{ article|safe }}
</article>
{% endblock %}

{% block comments %}
<dl id="comments">
{% for c in comments %}
  <dt><em>{{ c.screenname }}</em> on {{ c.created }}:</dt>
  <dd  class="well">{{ c.comment }}</dd>
{% endfor %}
</dl>
{% endblock %}
