<div class="well col-md-9">
  <eeditor isclean="isClean"/>
  <form class="form-inline" role="form">
    <div class="form-group">
      <input type="text" class="form-control col-md-3" ng-model="tags" ng-change="isClean=false" placeholder="tags"/>
    </div>
    <div class="btn-group pull-right">
      <button ng-click="save()" class="btn btn-sm btn-primary" ng-disabled="isClean"><i class="glyphicon glyphicon-ok"></i></button>
      <a href="/blog/admin" class="btn btn-sm"><i class="glyphicon glyphicon-off"></i></a>
    </div>
  </form>
  <div ng-bind-html="notifyMessage"></div>
</div>
<div class="col-md-3" id="commentsview">
  Comments:
  <ul>
    <li ng-repeat="comment in comments">
      <a href="#" ng-click="deleteComment(comment.urlsafe)"><i class="glyphicon glyphicon-remove"></i></a>
      <a href="mailto:{{comment.email}}">{{comment.screenname}}</a>:<span class="pull-right">{{comment.created}}</span>
      <div>{{comment.comment}}</div>
    </li>
  </ul>
</div>
