<table class="mdl-data-table mdl-js-data-table" style="margin: auto;">
  <thead>
  <tr>
    <th class="mdl-data-table__cell--non-numeric" style="width: 80%;">
      <div class="mdl-textfield mdl-js-textfield ">
        <input class="mdl-textfield__input" type="text" id="search" ng-model="search">
        <label class="mdl-textfield__label" for="search">Text...</label>
      </div>
    </th>
    <th colspan="3">Actions
      <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="newBlog()">
        <i class="material-icons">add</i>
      </button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="blog in blogs | filter:search">
    <td class="mdl-data-table__cell--non-numeric">{{ blog.title }}</td>
    <td>
      <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="setPubStatus(blog)">
        <i class="material-icons">{{ pubIcon(blog.published) }}</i>
      </button>
    </td>
    <td>
      <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="edit('/blog/admin/edit/' + blog.urlsafe)">
        <i class="material-icons">edit</i>
      </button>
    </td>
    <td>
      <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="deleteBlog(blog.urlsafe)">
        <i class="material-icons">delete</i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
