<div class="mdl-cell mdl-cell--8-col">
  <eeditor isclean="isClean"></eeditor>
  <div style="background-color: beige; padding-left: 10px;">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="tags1" ng-model="tags" ng-change="isClean=false"
             placeholder="tags...">
      <label class="mdl-textfield__label" for="tags1"><!--this empty label is required for visual effect--></label>
    </div>

    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" ng-click="save()"
            ng-disabled="isClean">
      <i class="material-icons">done</i>
    </button>

    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" ng-click="cancel()">
      <i class="material-icons">eject</i>
    </button>
    <div ng-bind-html="notifyMessage"></div>
  </div>
</div>

<div class="mdl-cell mdl-cell--4-col comment-wrapper">
  <comment blog-urlsafe="urlsafe"></comment>
</div>
