<div class="mdl-cell mdl-cell--8-col">
  <eeditor isclean="isClean"></eeditor>
  <div style="background-color: beige; padding-left: 10px;">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="tags" ng-model="tags" ng-change="isClean=false"
             placeholder="tags...">
      <label class="mdl-textfield__label" for="tags">
        <!--this empty label is required for visual effect--></label>
    </div>

    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" ng-click="save()"
            ng-disabled="isClean">
      <i class="material-icons">done</i>
    </button>

    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" ng-click="test($event)">
      <i class="material-icons">exit_to_app</i>
    </button>

    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
  </div>
</div>

<div class="mdl-cell mdl-cell--4-col comment-wrapper">
  <comment blog-urlsafe="urlsafe"></comment>
</div>
