{% extends "_shared/base.html" %}

{% block content %}
  <div class="xs-blog mdl-layout mdl-layout--fixed-header mdl-js-layout is-upgraded">
    {% include '_shared/header.html' %}
    <main class="mdl-layout__content">
      <div class="xs-blog__posts mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          {% include "_shared/amazon_ad.html" %}
        </div>

        <div class="mdl-card blog-title-banner-0 mdl-cell mdl-cell--8-col">
          <div class="mdl-card__media mdl-color-text--grey-50">
            <h3><a href="#">On the way to Venice</a></h3>
          </div>
          <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
            <div class="minilogo"></div>
            <div>
              <strong>Picture of the day</strong>
              <span>Some time ago</span>
            </div>
          </div>
        </div>
        <div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
          {% if is_admin %}
            <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent"
                    onclick="location.href='/blog/admin/'">
              <i class="material-icons mdl-color-text--white" role="presentation">add</i>
              <span class="visuallyhidden">add</span>
            </button>
          {% endif %}
          <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
            <img
              src="https://farm2.staticflickr.com/1567/26117929815_bc1c76fef9_s.jpg">
            An egg
          </div>
          <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
            <div>
              <strong>Me on SNS</strong>
            </div>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="menubtn">
              <li class="mdl-menu__item">Twitter</li>
              <li class="mdl-menu__item">Facebook</li>
              <li class="mdl-menu__item">G+</li>
            </ul>
            <button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">more_vert</i>
              <span class="visuallyhidden">show menu</span>
            </button>
          </div>
        </div>
        {% for b in recent_blogs %}
          <div class="mdl-card blog-title-banner-1 mdl-cell mdl-cell--12-col">
            <div class="mdl-card__media mdl-color-text--grey-50">
              <h3><a href="{{ b.url }}">{{ b.title }}</a></h3>
            </div>
            <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
              {{ b.content|safe }}
            </div>
            <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
              <div class="minilogo"></div>
              <div>
                <strong>Last modified on</strong>
                <span>{{ b.last_modified }}</span>
              </div>
            </div>
          </div>
        {% endfor %}
        <nav class="xs-nav mdl-cell mdl-cell--12-col">
          <div class="section-spacer"></div>
          <a href="{{ latest_blog }}" class="xs-nav__button" title="Latest blog">
            Latest
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_forward</i>
            </button>
          </a>
        </nav>
      </div>
      {% include '_shared/footer.html' %}
    </main>
    <div class="mdl-layout__obfuscator"></div>
  </div>
{% endblock %}

{% block script_tail %}
  <script src="/static/lib/material/material.min.js"></script>
  <script>
    Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function (el) {
      var link = el.querySelector('a');
      if (!link) {
        return;
      }
      var target = link.getAttribute('href');
      if (!target) {
        return;
      }
      el.addEventListener('click', function () {
        location.href = target;
      });
    });
  </script>
{% endblock %}
