<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <th align="left" style="width: 95%;">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only">Search for</label>
              <input id="search" ng-model="search" type="text" class="form-control" placeholder="type to search"/>
            </div>
          </form>
        </th>
        <th colspan="3">Actions
          <a href="/blog/admin/new" class="btn btn-primary pull-right btn-xs" title="Create new blog"><i class="glyphicon glyphicon-file"></i></a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="blog in blogs.blogs | filter:search">
        <td>{{blog.title}}</td>
        <td><a ng-class="pubCls(blog.published)" class="btn btn-xs" ng-click="setPubStat($index, blog.title, !blog.published)"><i ng-class="pubIcon(blog.published)"></i></a></td>
        <td><a href="/blog/admin/edit/{{blog.title}}" class="btn btn-xs"><i class="glyphicon glyphicon-edit"></i></a></td>
        <td><button ng-click="deleteBlog(blog.title)" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>

